@import './palette';

.question {
  width: 680px;
  margin-left: 89px;
  margin-right: 159px;
  margin-top: 77px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .answers {
    margin-top: 28px;
    display: flex;
    align-items: center;

    .answer {
      display: block;
      color: $color2;
      text-decoration: underline;
      font-weight: 500;
      font-size: 14px;
      margin-right: 30px;
      padding: 7px 16px;
     
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
    & input {
      display: none;

      &:checked + label {
        text-decoration: none;
        background-color: $color2;
        color: $color1;
        border-radius: 3px;
      }
    } 
  }

  .sendAnswer {
    background-color: $color3;
    color: $color1;
    border-color: transparent;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 23px;
    letter-spacing: 0.5px;
    width: max-content;
    margin-top: 31px;
    outline: transparent;

    &:hover {
      cursor: pointer;
      background-color: $color4;
    }

    &:disabled {
      opacity: 0.3;

      &:hover {
        cursor: initial;
        background-color: $color3;
      }
    }
  }
}
