@import './palette';

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 77px;

  .error {
    color: $color9;
    margin-top: 15px;
  }

  h1 {
    text-align: center;
    margin-bottom: 64px;
  }

  .gender {
    display: flex;
    margin-bottom: 64px;

    & input {
        display: none; 

      &:checked + label {
        opacity: 1;
      }
    }

    > label {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 156px;
      height: 200px;
      border-radius: 8px;
      box-shadow: 0 8px 16px 0 $color6;
      opacity: 0.6;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }

      &::before {
        content: '';
        display: block;
        width: 159px;
        height: 173px;
        background-size: cover;
      }

      &.female {
        margin-right: 15px;

        &::before {
          background-image: url("../assets/female.png");
        }
      }

      &.male {
        &::before {
          background-image: url("../assets/male.png");
        }
      }

      span {
        position: absolute;
        bottom: 19px;
      }
    }
  }

  .inputRow {
    width: 461px;
    display: flex;
    justify-content: space-between;
    color: $color1;
    padding-top: 23px;
    padding-bottom: 21px;
    border-bottom: 1px solid $color5;

    label {
      color: $color4;
      font-weight: 300;
    }

    input {
      font-size: 16px;
      font-weight: 500;
      color: $color4;
      background-color: transparent;
      border-color: transparent;
      outline: transparent;
      text-align: right;
      width: 250px;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &::placeholder {
        font-weight: 400;
      }
    }
  }

  .controls {
    display: flex;

    button {
      background-color: $color2;
      color: $color1;
      border-color: transparent;
      border-radius: 24px;
      font-size: 14px;
      font-weight: 500;
      padding: 15px 23px;
      letter-spacing: 0.5px;
      width: max-content;
      margin-top: 31px;
      outline: transparent;

      &:not(:last-child) {
        margin-right: 30px;
      }

      &:hover {
        cursor: pointer;
        background-color: $color3;
      }

      &:disabled {
        opacity: 0.3;

        &:hover {
          cursor: initial;
          background-color: $color2;
          color: $color1;
        }
      }

      &.clearData {
        background-color: $color7;
        color: $color1;
        border-color: transparent;
        border-radius: 24px;
        font-size: 14px;
        font-weight: 500;
        padding: 15px 23px;
        letter-spacing: 0.5px;
        outline: transparent;

        &:hover {
          cursor: pointer;
          background-color: $color8;
        }

        &:disabled {
          opacity: 0.3;

          &:hover {
            cursor: initial;
            background-color: $color7;
            color: $color1;
          }
        }
      }
    }
  }

  .clearAllRecords {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: $color7;
    color: $color1;
    border-color: transparent;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 23px;
    letter-spacing: 0.5px;
    outline: transparent;

    &:hover {
      cursor: pointer;
      background-color: $color8;
    }

    &:disabled {
      opacity: 0.3;

      &:hover {
        cursor: initial;
        background-color: $color7;
        color: $color1;
      }
    }
  }
}

.logIn {
  margin-top: 20px;
}