@import './palette';

.avatar {
  display: flex;

  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .name {
      font-size: 24px;
      font-weight: 500;
      color: $color1;
      margin-bottom: 10px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .logout {
      font-size: 16px;
      font-weight: 500;
      text-decoration: underline;
      color: $color2;
      background-color: transparent;
      border: transparent;
      display: inline;

      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  &::after {
    content: '';
    display: block;
    width: 72px;
    height: 68px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
  }

  &.male {
    &::after {
      background-image: url("../../theme/assets/male.png");
    }
  }

  &.female {
    &::after {
      background-image: url("../../theme/assets/female.png");
    }
  }
}