@import './palette';

.question {
  width: 680px;
  margin-left: 89px;
  margin-right: 159px;
  margin-top: 77px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .elements {
    position: relative;
    flex-direction: row-reverse;
    width: 620px;
    margin-top: 20px;
    justify-content: flex-end;
    display: flex;

    & input {
      display: none;

      &:checked ~ label {
        background-image: url("../assets/water-icon-selected.png");
      }
    }

    .size {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .element {
      width: 26px;
      height: 37px;
      display: block;
      background-color: transparent;
      border-color: transparent;
      background-repeat: no-repeat;
      margin-right: 16px;
      background-image: url("../assets/water-icon.png");

      &:hover {
        cursor: pointer;
        background-image: url("../assets/water-icon-selected.png");
      }

      &.selected {
        background-image: url("../assets/water-icon-selected.png");
      }
    }
  }

  .sendAnswer {
    background-color: $color3;
    color: $color1;
    border-color: transparent;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 23px;
    letter-spacing: 0.5px;
    width: max-content;
    margin-top: 31px;
    outline: transparent;

    &:hover {
      cursor: pointer;
      background-color: $color4;
    }

    &:disabled {
      opacity: 0.3;

      &:hover {
        cursor: initial;
        background-color: $color3;
      }
    }
  }
}
