@import './palette';

.login {
  font-family: 'Roboto';
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .loginLink {
      margin-top: 20px;
      color: #fff;

      a {
          color: #fff;
      }
  }

  .error {
    color: $color5;
    margin-top: 15px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $color1;
    opacity: 0.88;
    z-index: 1;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url("../assets/login-background.png");
    background-size: cover;
    background-position: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 461px;

    h1 {
      color: $color2;
      font-weight: 500;
      font-size: 36px;
      margin-bottom: 87px;
    }

    .inputRow {
      display: flex;
      justify-content: space-between;
      color: $color2;
      padding-top: 23px;
      padding-bottom: 21px;
      border-bottom: 1px solid rgba(255,255,255,0.10);

      label {
        font-weight: 300;
      }

      input {
        font-size: 16px;
        font-weight: 400;
        color: $color2;
        background-color: transparent;
        border-color: transparent;
        outline: transparent;
        text-align: right;
        width: 250px;
      }
    }

    button {
      background-color: $color3;
      color: $color2;
      border-color: transparent;
      border-radius: 24px;
      font-size: 14px;
      font-weight: 500;
      padding: 15px 23px;
      align-self: flex-end;
      letter-spacing: 0.5px;
      width: max-content;
      margin-top: 31px;

      &:hover {
        cursor: pointer;
        background-color: $color4;
      }
    }

    button:disabled {
      opacity: 0.3;

      &:hover {
        cursor: initial;
        background-color: $color3;
        color: $color2;
      }
    }
  }
}

.error {
  color: $color5;
  margin-top: 15px;
}

.genderError {
  margin: 0 10px;
}
